<%= render :partial => 'welcome/header', :locals => { :page => 'Lukkari • Projektit • Koodikärpät' } %>
    <!-- Header -->
    <header id="page-lukkari">
        <div class="container">
            <div class="intro-text">
                <h1 class="intro-heading">Lukkari</h1>
                <div class="intro-lead-in"><span class="kk-font">koodikärpät</span>-projekti</div>
                <a href="#blog" class="page-scroll btn btn-xl">Lue Lisää!</a>
            </div>
        </div>
    </header>

    <!-- Clients Aside -->
    <aside class="clients bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                 	<p class="text-muted project-summary"><i></i></p>
                </div>
            </div>
        </div>
    </aside>

    <!-- Blog Section -->
    <section id="blog">
        <div class="container">
            <div class="row">
            	<div class="col-sm-12"><h2 class="section-heading">Projektiblogi</h2></div>
            </div>
            <% @blog.each do |blog| %>
            <div class="row">
                <div class="postwrapper">
                    <div class="col-sm-3 postinfo">
                        <div class="team-member">
                            <img src="assets/koodikarpat.png" class="img-responsive img-circle" alt="Avatar">
                            <h3><%= blog.name %></h3>
                            <p class="text-muted"><%= @member %></p>
                            <p class="postdate"><%= blog.created_at.strftime('%H:%M %d.%m.%Y') %></p>
                        </div>
                    </div>
                    <div class="col-sm-9 bg-light-gray postcontent">
                    <h3><%= blog.subject %></h3>
                    <%= simple_format(blog.content) %>
                    </div>
                </div>
            </div>
            <% end %>
            <div class="row">
            	<div class="postwrapper">
	                <div class="col-sm-3 postinfo">
	                    <div class="team-member">
	                    	<img src="assets/koodikarpat.png" class="img-responsive img-circle" alt="Avatar">
	                    	<h3>Anonyymi Koodikärppä</h3>
	                    	<p class="text-muted">Lukkariprojektin jäsen</p>
	                    	<p class="postdate">14:00 09.06.2016</p>
	                    </div>
	                </div>
	                <div class="col-sm-9 bg-light-gray postcontent">
	                <h3>Lukkari</h3>
	                <p class="text-muted">Sovellus hakee ja näyttää käyttäjälle hänen lukiossa valittavana olevat kurssit ja valitsee käyttäjälle sopivimmat ryhmät hänen valitsemista kursseistaan ja tekee lukujärjestyksen. Tämän jälkeen voi vielä muokata lukujärjestystä haluamaansa suuntaan. Todennäköisesti tulee myös ominaisuus jolla voi valita opiskelulinjan ja sovellus näyttää tai valitsee tarvittavat/suositellut kurssit.</p>
	                </div>
	                <div class="clearfix"></div>
	            </div>

            </div>
            
        </div>
    </section>
    <%= render :partial => 'welcome/projects', :locals => { :projectPage => 1 } %>

<%= render :partial => 'welcome/footer' %>
