<%= form_for(@contactform) do |f| %>
  <% if @contactform.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contactform.errors.count, "error") %> prohibited this contactform from being saved:</h2>

      <ul>
      <% @contactform.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contact_type %><br>
    <%= f.text_field :contact_type %>
  </div>
  <div class="field">
    <%= f.label :contact_name %><br>
    <%= f.text_field :contact_name %>
  </div>
  <div class="field">
    <%= f.label :contact_email %><br>
    <%= f.text_field :contact_email %>
  </div>
  <div class="field">
    <%= f.label :contact_phone %><br>
    <%= f.text_field :contact_phone %>
  </div>
  <div class="field">
    <%= f.label :contact_msg %><br>
    <%= f.text_field :contact_msg %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
