<p id="notice"><%= notice %></p>

<h1>Listing Contactforms</h1>

<table>
  <thead>
    <tr>
      <th>Contact type</th>
      <th>Contact name</th>
      <th>Contact email</th>
      <th>Contact phone</th>
      <th>Contact msg</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contactforms.each do |contactform| %>
      <tr>
        <td><%= contactform.contact_type %></td>
        <td><%= contactform.contact_name %></td>
        <td><%= contactform.contact_email %></td>
        <td><%= contactform.contact_phone %></td>
        <td><%= contactform.contact_msg %></td>
        <td><%= link_to 'Show', contactform %></td>
        <td><%= link_to 'Edit', edit_contactform_path(contactform) %></td>
        <td><%= link_to 'Destroy', contactform, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contactform', new_contactform_path %>
