<%= render :partial => 'welcome/header', :locals => { :page => 'Robootti • Projektit • Koodikärpät' } %>
    <!-- Header -->
    <header id="page-robootti">
        <div class="container">
            <div class="intro-text">
                <h1 class="intro-heading">Robootti</h1>
                <div class="intro-lead-in"><span class="kk-font">koodikärpät</span>-projekti</div>
                <a href="#blog" class="page-scroll btn btn-xl">Lue Lisää!</a>
            </div>
        </div>
    </header>

    <!-- Clients Aside -->
    <aside class="clients bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                 	<p class="text-muted project-summary"><i></i></p>
                </div>
            </div>
        </div>
    </aside>

    <!-- Blog Section -->
    <section id="blog">
        <div class="container">
            <div class="row">
            	<div class="col-sm-12"><h2 class="section-heading">Projektiblogi</h2></div>
            </div>
            <% @blog.each do |blog| %>
            <div class="row">
                <div class="postwrapper">
                    <div class="col-sm-3 postinfo">
                        <div class="team-member">
                            <img src="assets/koodikarpat.png" class="img-responsive img-circle" alt="Avatar">
                            <h3><%= blog.name %></h3>
                            <p class="text-muted"><%= @member %></p>
                            <p class="postdate"><%= blog.created_at.strftime('%H:%M %d.%m.%Y') %></p>
                        </div>
                    </div>
                    <div class="col-sm-9 bg-light-gray postcontent">
                    <h3><%= blog.subject %></h3>
                    <%= simple_format(blog.content) %>
                    </div>
                </div>
            </div>
            <% end %>
            <div class="row">
            	<div class="postwrapper">
	                <div class="col-sm-3 postinfo">
	                    <div class="team-member">
	                    	<img src="assets/koodikarpat.png" class="img-responsive img-circle" alt="Avatar">
	                    	<h3>Anonyymi Koodikärppä</h3>
	                    	<p class="text-muted">Robootti-projektin jäsen</p>
	                    	<p class="postdate">14:00 09.06.2016</p>
	                    </div>
	                </div>
	                <div class="col-sm-9 bg-light-gray postcontent">
	                <h3>Fiiliksiä muutamalta päivältä</h3>
	                <p class="text-muted">Oulun Lyseon lukion piha täyttyi pikkuhiljaa pyöristä 6.6 kun Koodikärppien kesätyöläiset saapuivat uuteen työpaikkaansa. Dan Ackers, Koodikärppien vetäjä
oli jakanut kesätyöläiset ryhmiin nuorten kiinostusten kohteiden mukaan, pyrkien saamaan kaikille työntekijöille mieluisen,
mutta myös projektia hyödyntävän tehtävän. Työntekijät otettiin vastaan ryhmittäin puolen tunnin välein kello 8:00 alkaen.
Lyhyen tehtävänannon jälkeen Ackersb jätti nuoret tutustuman toisiinsa ja aloittelemaan erilaisilla harjoituksilla jotka hän[Ackers] oli nuorille varannut.
Kello 12 kaikki työntekijät olivat saapuneet Lyseolle ja Ackers piti pienen puheen kohottaakseen ryhmähenkeä lyseon salissa,
kiittäen samalla Nokiaa, Bittiumia ja Symbiota koodikärppien sponsoroinnista. Työt jatkuivat, osa ryhmästäni aloitti erilaisten valoshow 
vaihtoehtojen suunnittelua kun taas toiset jatkoivat harjoitusten parissa.
<p class="text-muted">Työilmapiiri on ollut erittäin hyvä alun kankeuden jälkeen. Kesätyöläiset auttavat toisiaan ja kysyvät toisiltaan, sekä välillä jopa Ackerssilta, apua.
Tauoilla lyseon käytävillä, ja töissä luokissa kuuluu vähän väliä rupattelua työntekejöiden kesken. Taukopaikaksi vakiintunut sohvarykelmä on hieman pienehkö,
mutta kaikki ovat ainaa mahtuneet istumaan. Omat eväät syödään ja kahvi juodaan yleensä mukavan keskustelun ohessa, silloin kun jaksetaan raahautua syömään
taukopaikalle eika vain oteta eväitä koneen ääreen, mikä ei slitikään estä keskustelua ryhmäläisten kesken. Mikro, kahvinkeitin ja jääkaappi ovat pikkuhiljaa
tiivistäneet ryhmiä sekä pakottaneet kommunikoiman muiden ryhmien jäsenien kanssa, todennäköisesti tiivistäen porukkaa tuleaisuudessa.</p>
<p class="text-muted">Päätyöskentely kielenä tulee todennäköisesti olemaan C, jolla pyritään ottamaan vastaaan ja välittämään arduinon sensoreista saatavaa informaatiota.
Harjoittelu C:n parissa on osoittautunut palkitsevaksi, mutta kohtuullisen haastavaksi erilaisen syntaksin takia. Työtoverit, Google ja StackOwerflow ovat
osoittautuneet korvaamattomaksi avuksi näiden muutamien päivien aikana, ja uskon, että kaikkia niitä tulen tarvitsemaaan myös vastaisuudessakin,
kysymykset esitetäänkin ylleensä juuri tuossa järjestyksessä priorisoiden työtovereita tai Googlea. Tieto siitä mitä tullaa tekemään ja mihin tähdätään
on pikkuhiljaa valunut kesätyöläisten korviin ja uskonkin kaikkien olevan kohtuullisen innostuneita projekteista joita tulemme mahdollisesti tekemään.</p>
	                </div>
	            </div>
            </div>
        </div>
    </section>
    <%= render :partial => 'welcome/projects', :locals => { :projectPage => 1 } %>

<%= render :partial => 'welcome/footer' %>
